.wrapper{
    background: var(--icon-background-color);
 
}
.icon{
    width: var(--icon-width,100%);
    height: var(--icon-height,100%);
    fill: var(--icon-color);
    transition: var(--icon-transition)
}